name: Run Script

on:
  workflow_dispatch:

  schedule:
    - cron: '0 0 * * *'
    - cron: '0 6 * * *' 
    - cron: '0 12 * * *'
    - cron: '0 18 * * *' 

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run now
      run: |
        python sus.py
